@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: Bayon, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* text-align: center; */
  height: 100%;
  width: 100%;

  color-scheme: light dark;
  background-color: light-dark(#FFFFF0, #2c2c2c);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  overflow-y: scroll;
  
}

html, body { 
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Bayon'; 
}

#root {
}

/* button {
  font-family: inherit;
  cursor: pointer;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
