.Rankings {
    color: black;
}

.resultMsg {
    top: 3.4rem;
    font-size: 1.4rem;
    color: green
}
.contextMsg {
    top: -1.4rem;
    font-size: 1rem;
}

.loadingScreen, .dark-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.loadingScreen {
    z-index: 12;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.loader {
    border: 16px solid rgba(0, 0, 0, 0.5);
    border-top: 16px solid #4ab8a8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

.loadingMain {
    animation: 1.2s ease infinite spin;
}

.noImagesMessage {
    animation: 10s ease fade-in;
}

.idolCard,
.idolCardRankOne {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.idolCard:hover {
    transform: translate3d(0, -1rem, 0);
    box-shadow: 0 20px 25px 10px rgb(0 0 0 / 0.35)
}

.idolCardRankOne:hover {
    transform: translate3d(0, -1rem, 0);
    box-shadow: 0 20px 25px 17px rgba(252, 186, 3, 0.4)
}

.eolMessage {
    animation: 0.7s ease slide-in-left;
}

.image-hover-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.image-hover-container:hover img {
    filter: grayscale(50%) brightness(0.7);
    transition: filter 0.3s ease;
}


@keyframes fade-in {
    0%, 10% {
        opacity: 0;
    }
    40%, 100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media only screen and (min-width: 640px) {
    .resultMsg {
        top: 3.7rem;
    }
}
